# Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
sales_env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
.spyderproject
.spyproject

# System files
.DS_Store
Thumbs.db

# Logs / cache
*.log
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Environment secrets
.env
